::ng-deep .ag-header {
  background: linear-gradient(to right, #2563eb, #581c87); /* blue → green gradient */
  color: white;
  font-weight: bold;
}
::ng-deep .ag-header-cell-label {
  justify-content: center; /* center text horizontally */
  font-size: 1rem;
  letter-spacing: 0.5px;
}

::ng-deep .ag-row-hover {
  background-color: #f9fafb !important; /* light gray on hover */
  transition: background-color 0.3s ease-in-out;
}
