<div class="p-5 flex flex-col gap-8">
  <h1 class="text-slate-500 text-2xl font-semibold">Merchants Settlement</h1>

  <!-- Single unified grid for all boxes -->
  <div class="grid grid-cols-1 md:grid-cols-6 gap-5">
    <!-- Box 1 (takes full width by spanning 2 columns) -->
    <div class="bg-white p-4 md:col-span-6">
      <div
        class="flex justify-between items-center bg-orange-50 border-s border-s-10 border-s-amber-500 py-8 px-5 rounded-xl"
      >
        <div class="space-y-4">
          <div class="flex gap-3 items-center">
            <span class="text-slate-800 text-xl"
              >Today's Settlement Status</span
            >
            <span
              class="p-2 border bg-orange-100 text-yellow-900 rounded-2xl border-amber-500"
              >Action Required</span
            >
          </div>
          <span class="text-slate-500 text-lg">
            <span>icon</span> Awaiting Upload File for PSP Batch #20251014 & PF
            Batch #20251014
          </span>
        </div>
        <!-- icon -->
        <span>></span>
      </div>
    </div>

    <!-- Box 2 -->
    <div class="bg-white p-4 col-span-2">
      <div
        class="flex flex-col gap-4 bg-neutral-100 border-s border-s-10 border-s-blue-500 py-8 px-5 rounded-xl"
      >
        <span class="text-slate-800 font-semibold text-xl"
          >System Revenue Balance</span
        >
        <span class="text-slate-500"
          >Total funds held across all merchants</span
        >
        <span class="text-blue-500 text-2xl font-semibold text-3xl w-5"
          >155,555.020 EGP</span
        >

        <div class="border border-gray-300 w-full"></div>

        <div class="flex justify-between items-center">
          <span class="text-slate-500 w-[60%]"
            >Click to view detailed Reserve Ledger Report</span
          >
          <span>></span>
        </div>
      </div>
    </div>

    <!-- Box 3 -->
    <div class="bg-white p-4 col-span-4">
      <div class="flex flex-col gap-4 bg-neutral-100 py-8 px-5 rounded-xl">
        <div class="flex justify-between">
          <div>
            <span class="text-slate-800 font-semibold text-xl"
              >Pending Settlement Batches</span
            >
            <span>  13 pending </span>
          </div>
          <span>></span>
        </div>
      </div>
    </div>

    <div class="bg-white p-4 col-span-6">
      <p class="text-slate-500">third row — third box content</p>
    </div>

    <div class="bg-white p-4 col-span-6">
      <p class="text-slate-500">fourth row — forth box content</p>
    </div>

    <div class="bg-white p-4 col-span-6">
      <p class="text-slate-500">fifth row — fifth box content</p>
    </div>
  </div>
</div>
