:host {
  display: block;
  background-color: #f5f6f7;
  min-height: 100vh;
}

img {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.03);
  }
}

.relative:hover .overlay {
  opacity: 1;
}
